html.page-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/de.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.content-home .slogan,
.content-home .nav .item a{
    color:#fff;
    text-shadow: 0 1px 1px #8c8989;
    font-size:17px;
}
.content-home .name{
    text-shadow: 0 1px 1px #fff;
}
.content-home .nav .item a:hover{
    color:#ff0;
}
.content-home .avatar img{
    box-shadow: 0 0 28px 5px rgb(103, 139, 191);
}
